<aside>
    <h1 id='about'>About</h1>
</aside>
<article class="main">
    <!--<img src="http://placehold.it/300x300"></img>-->
    <div>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, in, 
    voluptates, deleniti rem dignissimos autem minima optio odio exercitationem 
    quisquam incidunt fugit ab veritatis quo amet aliquam cum reiciendis a.
    </div>
    <div>
        Fuga, eos, sequi saepe iusto vel error quidem porro laudantium nam 
    molestias harum numquam sed id commodi ullam cumque delectus nobis natus 
    voluptate nemo obcaecati deserunt soluta. Ad, accusamus, nihil?
    </div>
    <div>
        Incidunt, perferendis harum cum magnam corporis quisquam explicabo nisi 
    earum eligendi doloremque exercitationem quaerat quod nam accusantium deleniti
    esse optio libero culpa aliquam sed et voluptas laborum voluptatibus rem possimus.
    </div>
    
</article>