<aside>
   <h1 id='contact'>Contact</h1>
</aside>
<div id="form">
   <form action="process.php">
      <p>
         <label for="name">Name:</label>
         <input type="text" name="name"></input>
      </p>
      <p>
         <lable for="email">Email:</lable>
         <input type="email" name="email"></input>
      </p>
      <p>
         <label for="name">Subject:</label>
         <input type="text" name="subject"></input>
      </p>
      <label for="message">Message:</label>
      <textarea name="message" id="message" cols="30" rows="10">
             Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, quaerat, dolorum hic perferendis quisquam autem eum nihil deleniti cumque exercitationem doloribus consectetur enim ut amet voluptatem eos dolores ea laudantium!
      </textarea>
      <p>
         <input type="submit" name="submit" value="send message" id="submit"></input>
         </p>      
   </form>
</div> 