<div class="container">
    <header class="header">
        <h2>Minimalistic Website</h2>
         <ul id='menu-item'>
           <li>  <%= link_to 'home', root_path("#home") , class: 'link-to' %></li>
           <li>  <%= link_to 'About', about_path("#about"), class: 'link-to' %></li>
           <li>  <%= link_to 'contact', contact_path("#contact"), class: 'link-to'  %></li>
         </ul>
    </header>
</div>